/* css reset  */
*
{
     margin: 0;
     padding: 0;
}

html{
     scroll-behavior: smooth;
}

/* css variable */
:root{
     --navbar-height:59px;
}


/* navigation bar  */
#navbar
{
     position: sticky;
     display: flex;
     align-items: center;

    
     top: 0px;

}
#navbar::before
{
     content: "";
     background-color: black;
     position: absolute;
     top:0px;
     left: 0px;
     height: 100%;
     width: 100%;
     z-index: -1;
     opacity: 0.4;
}

/* logo and image navigation bar  */
#logo
{
     height: 60px;
     margin: 0px 14px;
    
}

#logo img{
     height: 57px;
     margin: 1px 14px;
 
}

#navbar ul {
     margin: 10px 2p=0px;
     display: flex;
     font-family: 'Inconsolata', monospace;
}
#navbar ul li{
    

     /* to remove poits ; */
     list-style:none;
     font-size: 1.3rem;

}
#navbar ul li a{
     color: white;
  display: block;
  padding: 3px 22px;
  border-radius: 20px;
  text-decoration: none;
     
}
#navbar ul li a:hover{
     color: black;
     background-color: white;
     

     
}

.center
{
     text-align: center;
}
.btn
{
     padding: 6px 20px;
     border: 2px solid white;
     background-color: brown;
     color: white;
     margin: 17px 17px;
     font-size: 1.3rem;
     border-radius: 10px;
     cursor: pointer;
}






/* home section */
#home
{
     display: flex;
     flex-direction: column;
     padding: 3px 200px;
     justify-content: center;
     align-items: center;
     height: 590px;


}

#home::before
{
     content: "";
     background : url('../image/bg1.jpg') no-repeat center center/cover;
     position: absolute;
     height: 100%;
     width: 100%;
     top: 0px;
     left: 0px;
     z-index: -1;
     opacity: 0.6;
}

#home h1{
     color: rgb(11, 10, 10);
     text-align: center;
     font-family: 'Tiro Telugu', serif;
     
}

#home p{
     color: rgb(11, 10, 10);
     text-align: center;
     font-size: 1.2rem;
     font-family: 'Tiro Telugu', serif;
     

}


/* services section */

#services
{
     margin: 10px;
     display: flex;
}

#services .box
{
     border: 2px solid rgb(119, 19, 19);
     padding: 34px;
     margin: 25px 6px;
     border-radius: 28px;
     margin-bottom: 20px;
     background: #f7e9e9;



}

#services .box img
{
     height: 156px;
     margin: auto;
     display: block;
}


#services .box p{
     font-family: 'Tiro Telugu', serif;
}


/* client section  */
#client_section
{
     position: relative;
/* height: 344px; */

}
#client_section::before
{
    
     content: "";
     position: absolute;
     background : url('../image/bg1.jpg') no-repeat center center/cover;
     /* background : url('css/clientsection.jpg'); */
      /* no-repeat center center/cover; */
    
     height: 100%;
     width: 100%;
     top: 0px;
     left: 0px;
     z-index: -1;
     opacity: 0.6;
}  


#clients
{
     display:flex;
     justify-content: center;
     align-items: center;
     
}
#clients img
{
   height: 124px;
     
}
.client-items
{
     padding: 34px;
}



/* contact section */
#contact
{
     position: relative;
}
#contact::before
{
     content: "";
     /* background: url('contact1.jpg') no-repeat center center/cover;
      */
      background : url('../image/bg1.jpg') no-repeat center center/cover;
     position: absolute;
     width: 100%;
     heigth:100%;
     z-index: -1;
     opacity: 0.7;
}

/* form  */
#contact-box{
     display: flex;
     justify-content: center;
     align-items: center;
     padding-bottom: 34px;
}

#contact-box input,contact-box textarea{
     width: 100%;
     padding: 0.5rem;
     border-radius: 9px;
     font-size: 1.1rem;
     border: 2px solid black;
}

#contact-box form{
     width: 40%;

}

#contact-box label{
     font-size: 1.3rem;
     font-family: 'Inconsolata', monospace;
}
/* footer */
footer{
     background: black;
     color: white;
     padding: 9px 20px;

}

/* utility classes */
.h-primary
{
     font-size: 2.4rem;
     padding: 12px;
     font-family: 'Tiro Telugu', serif;
    font-weight: bold;

}

.h-secondary
{  font-family: 'Tiro Telugu', serif;
     font-size: 1.7rem;
     padding: 12px;
     text-align: center;
}


